/* Made by DeLorean */
:root {
  --font-family: "Segoe UI",sans-serif;
  --font-color: #ffffff;
  --bg: linear-gradient(0deg, #ffee38 0%, #ffc038 100%);
  background-image: url("../images/compact/honey/honeybg.jpg");
}