:root {
  --font: 'Press Start 2P', cursive;
  --font-color: #fff;
  --bg: #000;
}

* {
  border-radius: 0 !important;
  border: 0px !important;
}

button {
  transition: none;
}

#tabs button, #stabs_settings button, #stabs_main button, #stabs_stats button {
  width: 110px;
  width: 170px;
  border-radius: 10px;
}

#tab_btn_dark, #stab_btn_stats_l2 {
  background-color: #222;
}

.cannotbuy {
  background-color: #f00
}

.canbuy, .ach.allDone {
  background-color: #ff0
}

.ach.rowDone, .bought, .ach.completed {
  background-color: #0f0;
}

.u {
  margin-top: 3px;
}

#milestones {
  color: #000;
}

.ach {
  color: #000;
  font-size: 10px;
}

#makerimg {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("https://cdn.glitch.global/a8bae54f-d7d3-4a51-8ee6-6fbadebe03a5/Maker.png")
    no-repeat; /*testing*/
  width: 32px;
  height: 32px;
  padding-left: 32px;
  background-size: cover;
}
#generatorimg {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("https://cdn.glitch.global/a8bae54f-d7d3-4a51-8ee6-6fbadebe03a5/Generator.png")
    no-repeat;
  width: 32px;
  height: 32px;
  padding-left: 32px;
  background-size: cover;
}
#producerimg {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("https://cdn.glitch.global/a8bae54f-d7d3-4a51-8ee6-6fbadebe03a5/Producer.png")
    no-repeat;
  width: 32px;
  height: 32px;
  padding-left: 32px;
  background-size: cover;
}
#factoryimg {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("https://cdn.glitch.global/a8bae54f-d7d3-4a51-8ee6-6fbadebe03a5/Factory.png")
    no-repeat;
  width: 32px;
  height: 32px;
  padding-left: 32px;
  background-size: cover;
}
#boosterimg {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("https://cdn.glitch.global/a8bae54f-d7d3-4a51-8ee6-6fbadebe03a5/Booster.png")
    no-repeat;
  width: 32px;
  height: 32px;
  padding-left: 32px;
  background-size: cover;
}
#creatorimg {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("https://cdn.glitch.global/a8bae54f-d7d3-4a51-8ee6-6fbadebe03a5/Creator.png")
    no-repeat;
  width: 32px;
  height: 32px;
  padding-left: 32px;
  background-size: cover;
}

#musicid {
  color: #000;
}