:root { /* theme stuff */
  --font: "Lato",sans-serif;
  --font-color: #000000;
  --bg: #719dcc;
}

body {
  font-family: var(--font);
  color: var(--font-color);
  text-align: center;
}
#bg {
  background: var(--bg)
}
#ver {
	position: fixed;
	top: 0;
	right: 0;
	text-align: right;
	opacity: 0.1
}
#dev {
	transition-duration: 3s
}

div, table {
  margin: auto;
	text-align: center;
}
.tab {
  display: none;   
}
/* dark tab */
.darkOverwrite, .darkOverwrite *:not(button):not(button > *):not(input) {
  position: relative;
  z-index: 1;
  color: #dfbfff;
  text-shadow: 0 0 3px #7f00ff
}
#dark_bg {
  z-index: -99999;
  position: fixed;
  background: black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#dark_sym {
  position: absolute;
  background-image: url("https://cdn.glitch.global/a8bae54f-d7d3-4a51-8ee6-6fbadebe03a5/dark_world_icon.png");
  opacity: 0.5;
  top: calc(50% - 400px);
  left: calc(50% - 400px);
  width: 800px;
  height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: spin 30s linear infinite;
}
@keyframes spin {
  from {transform: rotate3d(0.7, 0.3, 2, 0deg)}
  to {transform: rotate3d(0.7, 0.3, 2, 360deg)}
}
/* specific tab button styling */
#stab_btn_main_upgrades {
  background-color: #c8ffc8;
}
#stab_btn_main_milestones, #stab_btn_stats_l1, #boosterconfirm, #respecconfirm {
  background-color: #c8ffff;
}
#tabs button, #stabs_settings button, #stabs_main button, #stabs_stats button {
  width: 110px;
  border-radius: 10px;
}
#stab_btn_main_consume, #consumeconfirm {
  color: #fff;
  background-color: #6900aa;
}
#tab_btn_auto {
  color: #fff;
  background-color: #00a81c;
}
#stab_btn_settings_lore {
  color: #fff;
  background-color: #b06621;
}
#tab_btn_dark, #stab_btn_stats_l2, #darkconfirm {
  color: #bbbbbb;
  background-color: #000000;
}
#tab_btn_chal {
  color: #ffffff;
  background-color: #fb0;
}
#tab_btn_ach {
  color: #ffffff;
  background-color: #0077ff;
}
#tab_btn_settings, #stab_btn_settings_main, #tab_btn_stats, #stab_btn_settings_credits, #stab_btn_settings_changelog {
  color: #ffffff;
  background-color: #333333;
}
#hardreset {
  color: #ffffff;
  background-color: #ff6464;
}
#notificationarea {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.notification {
  position: relative;
  top: 0px;
  right: 0px;
  margin: 6px;
  padding: 2px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  z-index: 1;
}
/* shamelessly taken from w3schools */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 7% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888888;
  width: 80%; /* Could be more or less, depending on screen size */
  overflow: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
button {
  border: 2px solid #0000007f;
  border-radius: 5px;
  font-family: var(--font);
  transition: all 0.3s ease;
  transform: scale(1);
}
#discord {
  transform: scale(1);
  transition: all 0.3s ease;
}
button:hover, #discord:hover {
  transform: scale(1.05);
}
button:active, #discord:active {
  transform: scale(1);
}
.upgbutton { /* size was decided by *some* discussions*/
  height: 32px;
  width: 205px;
  border-radius: 10px;
  font-size: 12px;
	vertical-align: top;
}
.u { /* size was decided by *some* discussions*/
  height: 110px;
  width: 216px;
  border-radius: 10px;
  font-size: 12px; /*this does matter as upg button and u are different*/
	vertical-align: top;
}
.buildboosttext{
  font-size: 7px;
}
.canbuy {
  background-color: #f9ea62;
}
.bought {
  background-color: #4ca361;
}
.cannotbuy {
  background-color: #f37078;
}
.prestige {
  background-color: #87d3e7;
}
.prestige2 {
  background-color: #2f2f2f;
  color: #6f6f6f;
}
button.bought:hover, button.cannotbuy:hover {
  transform: scale(1)
}

.credits {
  width: 140px;
  height: 25px;
	border: 2px solid black;
	border-collapse: collapse;
}

.ach {
	border-radius: 12px;
	font-size: 12px;
	width: 90px;
	height: 90px;
	border: 2px solid
}

.ach.completed {
  background-color: #4ca361
}

.ach.rowDone {
  background-color: gold
}

.ach.allDone {
  background: linear-gradient(#ffdf00, #ffffbf, #bfff00);
  border-color: #0000003f;
  box-shadow: 0 0 6px #ffbf00
}

#milestones {
  background-color: #000000
}

#abilities {
  width: 100%;
  text-align: right
}

#updatebox {
  position: fixed;
  z-index: 2;
  border-radius: 12px;
  width: 360px;
  height: 240px;
  top: calc(50% - 180px);
  left: calc(50% - 120px);
  background: black;
  color: white;
  display: none
}

#layerunlock {
  display: none;
  transition-duration: 1.5s;

  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#layerbar {
  background: #ffffff3f;
  box-shadow: 0 0 6px white;
  color: #3f3fff;
  text-shadow: 0 0 6px #3f3fff;
  position: absolute;
  top: calc(50% - 60px);
  left: 0;
  width: 100%;
  height: 36px;
  font-size: 24px
}
#layerbg {
  background: linear-gradient(#bfbfff7f, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#layerflash {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: 2s flash linear infinite;
}
@keyframes flash {
  0% {
    background: white
  }
  50% {
    background: transparent
  }
  100% {
    background: transparent
  }
}

#news_ticker_base {
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
  border: solid;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes news_ticker {
    from{
        transform: translateX(100vw);
    }
    to{
        transform: translateX(-100vw);
    }
}
#news_ticker {
  animation: news_ticker 10s cubic-bezier(0,0,1,1) infinite; 
  font-size: 20px;
  display: inline-block;
  position: relative;
  text-align: left;
}